* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --st-color: blue;
    --nd-color: grey;
}

/* Style global page */
body {
    background-color: #a7a9a2;
    color: rgb(34, 34, 34);
    font-family: system-ui, sans-serif;
}


/* ---------- HEADER ---------- */
.header {
    background: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}

.header:hover {
    transition: box-shadow 0.2s;
}

/* logo + titre */
.header__brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__title {
    font-size: 1.4rem;
}

.header__search-container {
    width: 50%;
   display: flex;
   border-width: 2px;
   border-color: var(--nd-color);
   border-style: solid;
   border-radius: 25px;
   padding: 2px 12px 2px 8px;
   transition: 0.3s ease;
}

.header__search-container:focus-within {
    border-color: var(--st-color);
}


.header__search-container:focus-within .header__search-input::placeholder,
.header__search-container:focus-within .header__search-icon {
    color: var(--st-color);
}

.header__search-icon {
    height: 30px;
    width: 30px;
    color: var(--nd-color);
    transition: 0.3s ease;
}

.header__search-input {
    border: none;
    padding-left: 5px;
    flex: 1;
}

.header__search-input:focus{
    border: none;
    outline: none;
}

.header__search-input::placeholder{
    transition: color 0.3s ease;
}

/* groupe de boutons */
.header__buttons {
    display: flex;
    gap: 10px;
}

.btn {
    border-radius: 8px;
}

.btn-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-icon:hover {
    transform: translate(0, -2px);
    background-color: var(--st-color);
}

.btn-add {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-add:hover {
    transform: translate(0, -2px);
    background-color: var(--st-color);  
}

.btn-add-icon {
    width: 2rem;
    height: 2rem;
}


/* ---------- TABLEAU ---------- */
#tableauOeuvres {
    padding-top: 10px;
}

/* tableau pleine largeur */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

/* cellules */
th, td {
    padding: 12px;
    text-align: left;
}

/* ligne d'en-tête */
thead {
    background: #ececec;
}

/* lignes alternées */
tbody tr:nth-child(even) {
    background: #f7f7f7;
}

/* effet hover */
tbody tr:hover {
    background: #e6e6e6;
}