* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global page */
body {
    background-color: #a7a9a2;
    color: rgb(34, 34, 34);
    font-family: system-ui, sans-serif;
}


/* ---------- HEADER ---------- */
.header {
    background: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* logo + titre */
.header__brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__title {
    font-size: 1.4rem;
}

.header__search-container{
    
}

/* groupe de boutons */
.header__buttons {
    display: flex;
    gap: 10px;
}


/* ---------- TABLEAU ---------- */
#tableauOeuvres {
    padding: 20px;
}

/* tableau pleine largeur */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

/* cellules */
th, td {
    padding: 12px;
    text-align: left;
}

/* ligne d'en-tête */
thead {
    background: #ececec;
}

/* lignes alternées */
tbody tr:nth-child(even) {
    background: #f7f7f7;
}

/* effet hover */
tbody tr:hover {
    background: #e6e6e6;
}